client_id="" 				# Provide a value for client_id
client_secret="" 				# Provide a value for client_secret
redirect_uri="" 				# Provide a value for redirect_uri
environment="" 				# Provide a value for environment
